<% menu_items = %w(facebook twitter flickr) %>

<nav>
<ul id="menu">
	<% menu_items.each do |mitem| %>
		<li <%= 'menu_current' if mitem == menu_current %> >
			<%= link_to image_tag(mitem+"1.png", :id => mitem+"1", :class => "nav_img1")+image_tag(mitem+"2.png", :id => mitem+"2", :class => "nav_img2"), eval(mitem+"_path"), :class => "nav_link" %>
		</li>
	<% end %>
</ul>
</nav>